{% extends 'base.html.twig' %}

{% block title %}Etudiants{% endblock %}

{% block body %}
    <h1>Etudiants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etudiant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ etudiant.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ etudiant.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etudiant.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ etudiant.telephone }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ etudiant.createdAt ? etudiant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created_by</th>
                <td>{{ etudiant.createdBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etudiants_index') }}">back to list</a>

    <a href="{{ path('app_etudiants_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiants/_delete_form.html.twig') }}
{% endblock %}
