{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <h1>Entreprises</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ entreprise.siret }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entreprise.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entreprise.email }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ entreprise.responsable }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ entreprise.createdAt ? entreprise.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created_by</th>
                <td>{{ entreprise.createdBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entreprises_index') }}">back to list</a>

    <a href="{{ path('app_entreprises_edit', {'id': entreprise.id}) }}">edit</a>

    {{ include('entreprises/_delete_form.html.twig') }}
{% endblock %}
