<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Vie Scolaire
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>

		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css" integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
		<link href="{{asset('main.d810cf0ae7f39f28f336.css')}}" rel="stylesheet">
		<link href="{{asset('style.css')}}" rel="stylesheet"> {% block stylesheets %}{% endblock %}


		</head>
		<body>
			<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"> {% block body %}{% endblock %}


				<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js" integrity="sha256-PL1mKrYeZkM5SsJ5nydN6463HLkV918bgDdYL0I5Z+k=" crossorigin="anonymous"></script>
				{# <script type="text/javascript" src="{{asset('assets/scripts/main.d810cf0ae7f39f28f336.js')}}"></script> #}
				<script type="text/javascript" src="{{asset('assets/scripts/main.js')}}"></script>
				{% block javascripts %}{% endblock %}


			</div>
			{% for message in app.flashes('message') %}
				<div id="toast-container" class="toast-top-right">
					<div class="toast toast-success" aria-live="polite">
						<div class="toast-progress" style="width: 0.18%;"></div>
						<button type="button" class="toast-close-button" role="button">×</button>
						<div class="toast-message">{{message}}</div>
					</div>
				</div>


			{% endfor %}
		</body>
	</html>
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">

					<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: absolute;margin-top: -16px;    margin-left: -16px; background-color: #f8f9fa!important;     padding: 0.6rem 1rem;">

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item active">
									<a class="nav-link" href="#">Informations
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Étudiants</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Absences</a>
								</li>

							</ul>

						</div>
					</nav>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
